.container img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.flex-container .h1 {
    margin: 0;
    flex-shrink: 1;
    flex-grow: 0;
}

.container {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: center;
    height: 90%;
}

.top {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

canvas {
    height: 90%;
    width: 97%;
    border: 1px solid black;
}
