.template-gallery img {
    object-fit: cover;
    width: 95%;
    border: 1px solid #ccc;
    height: 40%;
    padding: 2%;
}

.template-gallery img:hover{
    object-fit: contain;
}

.template-gallery {
    height: 100%;
    overflow: scroll;
}