body {
    height: 100vh;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.left, .middle, .right{
    float:left;
    height: 100%;
}

.left, .right{
    width: 20%;
}

.middle{
    width: 60%;
}

